<h1>To reset your password. Click the following link</h1>
<%= link_to 'Reset Password',  edit_user_password_url(@user.reset_token, email: @user.email) %>
<p>
This link will expire in 2 Hours.
If you did not request your password to be reset, please ignore this email and
your password will stay as it is.
<p>
